/* 
COLORS VARIABLES 
*/

/* GREY SCALE */
@colorBlack: #000000;
@colorDarkGrey: #363636;
@colorGrey: #757575;
@colorSuperLightGrey: #eeefef;
@colorLightGrey: #acacac;
@colorWhite: #ffffff;

/* ACCENT COLORS */
@colorLightGreen: #9bb735;
@colorDarkGreen: #52a25d;
@colorNavy: #262678;
@colorCyan: #48cdff;
@colorBlue: #5b7aeb;
@colorLightBlue: #9cb8ff;
@colorRust: #c84723;
@colorRed: #d6472a;
@colorScarlet: #dc563f;
@colorDarkPurple: #281a33;
@colorPurple: #510c66;
@colorMagenta: #cc68bf;
@colorLavender: #8d71bd;
@colorLilac: #9d9dfa;
@colorGold: #c3ae62;
@colorLightGold: #e2c45a;
@colorTangerine: #ffa518;
@colorAmber: #ffbe31;

/* OTHER COLORS/OLD */
@colorBrown: #744019;
@colorYellow: #e7b712;
@colorGreyNav: #767779;
@colorOrange: #ffbe31;

//used for all buttons
@colorPrimary: #ffa518;
@colorGreyDisabledBG: #d0d0cf;
@colorGreyDisabledText: #2c2c24;

/* 
EASINGS
*/
@ease-out-back: cubic-bezier(0.680, -0.550, 0.265, 1.550);
@button-ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
@ease-out-expo: cubic-bezier(.950, .050, .795, .035);

/* 
FONTS VARIABLES 
*/

@fontSupercell: 'supercell-magicregular',Arial,sans-serif;
@secondaryFont: 'ProximaNova-Regular';
@secondaryFont-semiBold: 'ProximaNova-Semibold';
@secondaryFont-bold: 'ProximaNova-Bold';

@h1FontSize: 72;

@buttonBorderRadius: 5px;
@contentBorderRadius: 10px;

/* 
BREAKPOINTS (try to keep this in sync with the CONSTANTS file)
*/

@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 599px)";
@tablet:      ~"only screen and (min-width: 600px) and (max-width: 1023px)";
@desktop:     ~"only screen and (min-width: 1024px) and (max-width: 1439px)";
@desktop-xl:  ~"only screen and (min-width: 1440px)";