<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>{{title}}</title>
	<meta name="description" content="{{description}}">

	<meta property="og:title" content="{{title}}" />
	<meta property="og:description" content="{{description}}" />
	<meta property="og:image" content="{{image}}" />

  <link rel="stylesheet" href="{{path}}/css/main.css?cache={{cache}}"/>

</head>
<body>

<div id="app">{{ html|safe }}</div>

<script>window.__PROPS__ = {{props|safe}}</script>

<!-- build:js -->
<script src="{{path}}/js/vendor.bundle.js"></script>
<script src="{{path}}/js/bundle.js"></script>
<!-- endbuild -->

</body>
</html>