
// Utils contains mixins, variables(mixins) and normalize
@import 'utils/normalize';
@import 'utils/variables';
@import 'utils/mixins';

@import 'components/Navbar';

body {
  padding: 20px;
}

// Status Toggle example

.StatusToggle {
  background-color: @colorNavy;
  color: @colorWhite;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

  &.active {
    background-color: @colorScarlet;
  }
}
