

.Navbar {

  a {
    text-decoration: none;
    color: @colorWhite;
    background-color: @colorDarkGreen;
    padding: 10px; 
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;

    &.active, &:hover {
      background-color: @colorLightGreen;
    }
  }

}